*.tif
*.tiff
*.npy
*.jpg
*.jpeg
*.png
*.csv
*.npy
*.xml
*.zip
*.tar
*.gz
*.html
*.points
*.geojson
*.gpkg
*.shp
*.log

*.pyc
*egg-info*

.history
.env

data/
download/
downloads/
__pycache__/
.vscode/
.VSCodeCounter/
docs/build/
venv/
msiq_venv/